arrow==0.10.0
Django==1.11.3
django-filter==1.0.4
djangorestframework==3.6.3
freeze==1.0.10
Markdown==2.6.8
olefile==0.44
Pillow==4.2.1
pkg-resources==0.0.0
psycopg2==2.7.1
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0