{% extends "base.html" %}

{% block content %}

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Sobre Danzou</h4>
        <p>Projeto Open Source, apenas uma central de Animes.</p>
      </div>

      <div class="col-lg-4">
        <h4>Contato</h4>
          <p>
            <a href="#">danzou.hotmail.com</a><br/>
          </p>
      </div>

      <div class="col-lg-4">
        <h4>Projeto </h4>
          <a href="https://github.com/Danz0u">DanzOu.Git</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}