{% extends "base.html" %}

{% block content %}
	
	<!-- HEADER -->
  {% include 'particles/header.html' %}

	<div class="col-lg-8 col-lg-offset-2 centered">
		<h2>Animes</h2><hr>
	</div>

	{% if object_list %}  
  	<div class="container pt">
      <div class="row mt">
      {% for anime in object_list %}
        <div class="col-lg-6 col-lg-offset-3 centered">
          <div class="row mt centered"> 
            <div class="col-lg-8 col-lg-offset-2">
              <h3>{{anime.title}}</h3>
              <a href="{% url 'anime-detail' anime.slug %}"><img class="img-responsive" src="{{anime.img.url}}" alt=""/></a>
              <ba><a class="" href="{% url 'anime-detail' anime.slug %}">Ver Detalhes</a></ba>
            </div>
          </div>
          <hr>
  			</div>
  			{% endfor %}
  		</div>
      
      <div align="center">
        <nav aria-label="...">
          <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Voltar</a>
              </li>
            {% endif %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" class="page-link" href="?page={{ page_obj.next_page_number }}">Proximo</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>

	{% else %}
  	{% include 'messages/404.html' %}
	{% endif %}

	<!-- FOOTER -->
  {% include 'particles/footer.html' %}

{% endblock %}