{% extends "base.html" %}

{% block content %}
	
	<!-- HEADER -->
  {% include 'particles/header.html' %}

	<div class="col-lg-8 col-lg-offset-2 centered">
		<h2>Animes</h2><br><hr>
	</div>

	{% if object_list %}  

	<div class="container pt">
		<div class="row mt centered">	
			{% for anime in object_list %}
				<div class="col-lg-4">
					<a class="" href="{% url 'anime-detail' anime.slug %}">
						<img class="img-responsive" src="{{anime.img.url}}" alt="" />
						<p><strong>{{anime.title}}</strong></p>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

	{% else %}

	{% endif %}

	<!-- FOOTER -->
  {% include 'particles/footer.html' %}

{% endblock %}