{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Danzou - Central de Animes!</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="#">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div>
      <ul>
        <li><a href="#"></a>Animes</li>
        <li><a href="#"></a>Categorias</li>
      </ul>
    </div>
    <script src="#"></script>
</body>
</html>
